
@import 'bootstrap';
@import 'bootstrap-sprockets';


.jumbotron {
	background-image: url(asset-path('longcat.jpeg'));
    background-position: 0% 25%;
    background-size: cover;
    background-position: center-top;
    background-repeat: no-repeat;
	margin-top: 0px;
	margin-bottom: 0px;
	height: 400px;
}

.well {
   background-color: rgba(245, 245, 245, 0.2);
}